---
import { Facebook, Instagram, LinkedIn, LogoMono, Mail, Phone, Pin } from './icons';

const FooterContent = {
  Title: 'Lagunas Claras',
  links: [
    { text: 'Home', href: '/' },
    { text: 'About', href: '/about' },
    { text: 'Services', href: '/services' },
    { text: 'Clients', href: '/clients' },
  ],
  networks: [
    { text: 'Instagram', href: 'https://instagram.com/yourprofile', Icon: Instagram },
    { text: 'LinkedIn', href: 'https://linkedin.com/in/yourprofile', Icon: LinkedIn },
    { text: 'Facebook', href: 'https://facebook.com/yourprofile', Icon: Facebook },
  ],
  cta: [
    { text: '@lagunasclaras', href: '/', Icon: Mail },
    { text: '+54 9 351 5555555', href: 'tel:+5493515555555', Icon: Phone },
    { text: 'Ubicacion', href: '#ubicacion', Icon: Pin },
  ],
  copyright: `© ${new Date().getFullYear()} Lagunas Claras. All rights reserved.`,
};

---

<footer class="pt-5 pb-5 bg-foreground">
  <div class="w-full max-w-3xl mx-auto p-4">
    <div class="flex w-full flex-col md:flex-row justify-between items-center">
      <div class="mb-4 md:mb-0 gap-6 flex flex-col md:flex-col items-center">
        <div class="flex flex-col items-center gap-2 font-bold text-lg text-primary-foreground">
          <LogoMono class="h-12 w-12 min-w-6 text-primary-foreground" />
          <span class="nav-text font-semibold">{FooterContent.Title}</span>
        </div>
        <div class="flex flex-row md:flex-row gap-6">
        {
          FooterContent.networks.map(({ Icon, href, text }) => (
            <a href={href} class="flex items-center gap-2 nav-link transition-colors relative hover:underline">
              <Icon class="h-6 w-6 min-w-6 text-primary-foreground" />
              {/* <span class="nav-text font-semibold text-primary-foreground">{text}</span>   */}
            </a>
          ))
        }
      </div>
      </div>
      <div class="flex flex-col md:flex-col gap-3 text-base font-medium text-primary-foreground">
        {
          FooterContent.links.map((link) => (
            <a href={link.href} class="nav-link transition-colors relative hover:underline">
              {link.text}
            </a>
          ))
        }
      </div>
      <!-- <div class="flex flex-col md:flex-col gap-6">
        {
          FooterContent.networks.map(({ Icon, href, text }) => (
            <a href={href} class="flex items-center gap-2 nav-link transition-colors relative hover:underline">
              <Icon class="h-6 w-6 min-w-6 text-primary-foreground" />
              <span class="nav-text font-semibold text-primary-foreground">{text}</span>  
            </a>
          ))
        }
      </div> -->
      <div class="flex flex-col md:flex-col gap-6">
        {
          FooterContent.cta.map(({ Icon, href, text }) => (
            <a href={href} class="flex items-center gap-2 nav-link transition-colors relative hover:underline">
              <Icon class="h-6 w-6 min-w-6 text-primary-foreground" />
              <span class="nav-text font-semibold text-primary-foreground">{text}</span>
            </a>
          ))
        }
      </div>
    </div>
  </div>
  <div class="w-full max-w-xl mx-auto text-center">
    <p class="text-sm text-muted-foreground">{FooterContent.copyright}</p>
  </div>
</footer>
