---
import { Facebook, Instagram, LinkedIn, LogoMono, Mail, Phone, Pin } from './icons';

const FooterContent = {
  Title: 'Lagunas Claras',
  links: [
    { text: 'Home', href: '/' },
    { text: 'About', href: '/about' },
    { text: 'Services', href: '/services' },
    { text: 'Clients', href: '/clients' },
  ],
  networks: [
    { text: 'Instagram', href: 'https://instagram.com/yourprofile', Icon: Instagram },
    { text: 'LinkedIn', href: 'https://linkedin.com/in/yourprofile', Icon: LinkedIn },
    { text: 'Facebook', href: 'https://facebook.com/yourprofile', Icon: Facebook },
  ],
  cta: [
    { text: '@lagunasclaras', href: '/', Icon: Mail },
    { text: '11 5045-1158', href: 'tel:+5491150451158', Icon: Phone },
    { text: 'Ubicacion', href: '#ubicacion', Icon: Pin },
  ],
  copyright: `© ${new Date().getFullYear()} Lagunas Claras. All rights reserved.`,
};
---

<footer class="bg-primary py-4">
  <div class="mx-auto w-full max-w-3xl p-4">
    <div class="flex w-full flex-col items-center justify-between md:flex-row">
      <div class="mb-4 flex flex-col items-center gap-6 md:mb-0 md:flex-col">
        <div class="text-primary-foreground flex flex-col items-center gap-2 text-lg font-bold">
          <LogoMono class="text-primary-foreground h-12 w-12 min-w-6" />
          <span class="nav-text font-semibold">{FooterContent.Title}</span>
        </div>
        <div class="flex flex-row gap-6 md:flex-row">
          {
            FooterContent.networks.map(({ Icon, href, text }) => (
              <a
                href={href}
                class="nav-link relative flex items-center gap-2 transition-colors hover:underline"
              >
                <Icon class="text-primary-foreground h-6 w-6 min-w-6" />
              </a>
            ))
          }
        </div>
      </div>
      <div class="text-primary-foreground flex flex-col gap-3 text-base font-medium md:flex-col">
        {
          FooterContent.links.map((link) => (
            <a href={link.href} class="nav-link relative transition-colors hover:underline">
              {link.text}
            </a>
          ))
        }
      </div>
      <div class="flex flex-col gap-6 md:flex-col">
        {
          FooterContent.cta.map(({ Icon, href, text }) => (
            <a
              href={href}
              class="nav-link relative flex items-center gap-2 transition-colors hover:underline"
            >
              <Icon class="text-primary-foreground h-6 w-6 min-w-6" />
              <span class="nav-text text-primary-foreground font-semibold">{text}</span>
            </a>
          ))
        }
      </div>
    </div>
  </div>
  <div class="mx-auto w-full max-w-xl text-center">
    <p class="text-muted-foreground text-sm">{FooterContent.copyright}</p>
  </div>
</footer>
